
{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - linked_logo: The logo image, linked to <front>.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - linked_site_name: The name of the site that also links to <front>.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
<div class='body-wrapper'>
  <nav class='topbar'>
    <div class='container'>
      <div class='logo_wrapper'>
        {% if is_front %}
          <span class="logo">
            <img class="logo" src="/{{ directory }}/images/sablux/logo_sablux.png" alt="Logo Sablux Service - Retour Accueil" />
          </span>
        {% else %}
          <a class="logo" href="/">
            <img class="logo" src="/{{ directory }}/images/sablux/logo_sablux.png" alt="Logo Sablux Service - Retour Accueil" />
          </a>
        {% endif %}
      </div>
      {# {% if page.header %}
        {{ page.header }}
      {% endif %} #}
    </div>
  </nav>
  <div class='main-content-wrapper'>
    <a id="main-content"></a>
    <div class="l-highlighted">
      {% if breadcrumb and not is_front %} {{ breadcrumb }} {% endif %}
      {% if title and not is_front %}
        <h1 id="page-title" class="title">{{ title }}</h1>
      {% endif %}
      <div class="highlighted">
        {% if page.highlighted %} {{ page.highlighted }} {% endif %}
      </div>
    </div>


    {% if messages and not zurb_foundation_messages_modal %}
      <div class="l-messages">
        <div class="messages">
          {{ messages }}
        </div>
      </div>
    {% endif %}

    {% if page.help %}
      <div class="l-help">
        <div class="help">
          {{ page.help }}
        </div>
      </div>
    {% endif %}

    {% if is_front %}
      {% if page.en_chiffres %}
        <div class="l-en_chiffres">
          <div class="en_chiffres">
            {{ page.en_chiffres }}
          </div>
        </div>
      {% endif %}

      {% if page.services %}
        <div class="l-services">
          <div class="services">
            {{ page.services }}
          </div>
        </div>
      {% endif %}

      {% if page.search %}
        <div class="l-search">
          <div class="search">
            {{ page.search }}
          </div>
        </div>
      {% endif %}

      {% if page.properties %}
        <div class="l-properties">
          <div class="properties">
            {{ page.properties }}
          </div>
        </div>
      {% endif %}

      {% if page.testimonials %}
        <div class="l-testimonials">
          <div class="testimonials">
            {{ page.testimonials }}
          </div>
        </div>
      {% endif %}
    {% else %}
      <div class="content-wrapper">
        <main class="main">
          {% if tabs %}
            {{ tabs }}
            {% if tabs2 %} {{ tabs2 }} {% endif %}
          {% endif %}
          {% if action_links %}
            <ul class="action-links">
              {{ action_links }}
            </ul>
          {% endif %}
          {{ page.content }}
        </main>
        {% if page.sidebar_first %}
          <div id="sidebar-first" class="{{ sidebar_first_grid }} columns sidebar ">
            {{ page.sidebar_first }}
          </div>
        {% endif %}
        {% if page.sidebar_second %}
          <div id="sidebar-second" class="{{ sidebar_sec_grid }} columns sidebar">
            {{ page.sidebar_second }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if page.footer_first or page.footer_middle or page.footer_last %}
      <footer class="l-footer-wrapper">
        <div class="footer-wrapper">
          {% if page.footer_first %}
            <div class="footer-first footer">
              {{ page.footer_first }}
            </div>
          {% endif %}
          {% if page.footer_middle %}
            <div class="footer-middle footer">
              {{ page.footer_middle }}
            </div>
          {% endif %}
          {% if page.footer_last %}
            <div class="footer-last footer">
              {{ page.footer_last }}
            </div>
          {% endif %}
        </div>
      </footer>
    {% endif %}
  </div>
</div>

